@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$primary-font:        'Lato', Arial, sans-serif;

$primary-blue:        #13b5db;
$transparent-blue:    rgba(19,181,219,0.9);

$primary-red:         #ff5d5f;
$secondary-red:         #e94b4d;


// Mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}




* {
  padding: 0;
  margin: 0;
}

html {
  background: url('../img/bg.jpg') $primary-blue no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: $primary-font;
  font-weight: 300;
  font-size: 16px;

  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.flexbox-container {
  height: 100vh;

	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  overflow: hidden;
}

section {
  width: 100%;
  background: $transparent-blue;
  padding: 30px;
  overflow: hidden;
  margin-bottom: 40px;
}

form {
  padding: 40px 0 10px;

  span {
    color: #FFF;
    font-size: 14px;
  }

}

.col-xs {
  padding: 0 20px;
}


.logo {
  max-width: 400px;
  width: 100%;
  display: block;
  margin: 0 auto;
}


//@import "common/global";



// Form UI elements

input,
select {
  -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;

  display: inline-block;
  width: 100%;
  min-width: 160px;
  padding: 0 6px;
  height: 40px;
  border: 1px solid #E5E5E5;
  background: #fff;
  color: #666;
  margin: 0 0 5px;

  font-size: 14px;
  font-family: $primary-font;

  -webkit-transition: all .2s linear;
  -webkit-transition-property: border,background,color,box-shadow,padding;
  transition: all .2s linear;
  transition-property: border,background,color,box-shadow,padding;

  @include border-radius(2px);
}

select {
  min-width: 200px;
}

input:focus,
select:focus {
  border-color: #99baca;
  outline: 0;
  background: #f5fbfe;
  color: #666;
}

.btn {
  display: block;
  clear: both;
  margin: 20px auto 0;
  padding: 12px 30px;
  background: $primary-red;
  color: #FFF;
  border: none;

  font-size: 1rem;
  font-family: $primary-font;
  text-decoration: none;
  text-align: center;
  transition: all .2s linear;

  &:hover {
    background: $secondary-red;
    cursor: pointer;
  }

}


// Footer
footer {
  z-index: 2;
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 5px 0;

  background: rgba(57,57,57,0.9);

  ul {
    overflow: hidden;
    max-width: 250px;

    display: block;
    margin: 0 auto;
    padding: 0;

    li {
      list-style: none;
      display: block;
      float: left;
      margin: 0 10px;
      font-size: 13px;

      a {
        color: #FFF;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .social {
        display: block;
        width: 17px;
        height: 17px;
        text-indent: -99999em;
        overflow: hidden;
        background-position: center center;
        background-repeat: no-repeat;
      }
      .facebook {
        background-image: url(../img/icons/facebook.png);
      }
      .instagram {
        background-image: url(../img/icons/instagram.png);
      }
      .twitter {
        background-image: url(../img/icons/twitter.png);
      }


    }

  }
}
